.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}
.hide-text {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.input-block-level {
  display: block;
  width: 100%;
  min-height: 30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */
* {
  -webkit-backface-visibility: 'hidden';
  -moz-backface-visibility: 'hidden';
  backface-visibility: 'hidden';
}
body {
  background-color: #f0f0f0;
}
a {
  text-decoration: none;
}
::selection {
  background: #C3CF98;
  /* Safari */

  color: #fff;
}
::-moz-selection {
  background: #C3CF98;
  /* Firefox */

  color: #fff;
}
img.typekit-badge {
  display: none !important;
}
div[role=content] {
  background-color: #fff;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.04);
  -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.04);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.04);
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  margin-top: 40px;
  padding: 40px;
}
img.brand-logo {
  -webkit-transition: all 200ms ease-out;
  -moz-transition: all 200ms ease-out;
  -o-transition: all 200ms ease-out;
  transition: all 200ms ease-out;
  -webkit-transform: scale(0.7);
  -moz-transform: scale(0.7);
  -ms-transform: scale(0.7);
  -o-transform: scale(0.7);
  transform: scale(0.7);
}
img.brand-logo:hover {
  -webkit-transition: all 200ms ease-out;
  -moz-transition: all 200ms ease-out;
  -o-transition: all 200ms ease-out;
  transition: all 200ms ease-out;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}
.nav li.nav-player > a {
  line-height: 12pt;
  padding: 9px 10px 0px 0px;
  font-size: 9pt;
}
.nav li.nav-player > a i {
  color: #1ABC9C;
  font-size: 11pt;
}
.nav li.nav-player > a span.typo-capital {
  color: #1ABC9C;
}
#newsfeed {
  margin: -45px 0px 20px -40px;
  padding-right: 40px;
  padding-left: 40px;
  padding-top: 60px;
  background-color: #34495E;
  color: #fff;
}
#newsfeed .thumbnails li:nth-child(4n+5) {
  margin-left: 0px;
}
#newsfeed .thumbnails .thumbnail {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  border: 0;
}
#newsfeed .thumbnails .thumbnail img {
  width: 190px;
  height: 190px;
}
#newsfeed .thumbnails .thumbnail .caption {
  color: #fff;
  font-size: 8pt;
}
#newsfeed .thumbnails .thumbnail .caption h4 {
  background-color: #3d566e;
  line-height: 39px;
  text-align: center;
}
#newsfeed .thumbnails .thumbnail .caption hr {
  margin: 10px 0;
}
table#listen {
  margin-top: 20px;
}
table#listen a {
  color: #333;
}
table#listen a:hover,
table#listen a:focus {
  color: #1ABC9C;
}
table#listen thead {
  font-weight: bold;
  font-family: "museo-sans", 'Lato', 'Helvetica Neue', Helvetica, 'Apple SD Gothic Neo', 'Nanum Gothic', 'Malgun Gothic', Arial, sans-serif;
  font-size: 12pt;
}
table#listen thead tr td:nth-child(1) {
  width: 50%;
}
table#listen thead tr td:nth-child(2) {
  width: 20%;
}
table#listen thead tr td:nth-child(3) {
  width: 20%;
}
table#listen thead tr td:nth-child(4) {
  text-align: center;
}
table#listen tbody {
  font-size: 9pt;
}
table#listen tbody tr td {
  border-color: #e5e5e5;
}
table#listen tbody tr td:nth-child(1) {
  width: 50%;
}
table#listen tbody tr td:nth-child(2) {
  width: 20%;
}
table#listen tbody tr td:nth-child(2) a {
  opacity: 0.8;
  font-weight: bold;
  color: #34495E;
}
table#listen tbody tr td:nth-child(3) {
  font-size: 8pt;
  width: 20%;
}
table#listen tbody tr td:nth-child(4) {
  color: #2C3E50;
  text-align: center;
  font-family: "bebas-neue", "museo-sans", 'Lato', 'Helvetica Neue', Helvetica, 'Apple SD Gothic Neo', 'Nanum Gothic', 'Malgun Gothic', Arial, sans-serif;
  font-size: 13pt;
}
table#listen tbody tr:hover a {
  color: #16A085 !important;
}
table#listen tbody tr:hover a:hover,
table#listen tbody tr:hover a:focus {
  color: #1ABC9C;
}
footer {
  margin-top: 40px;
}
.typo-capital {
  font-family: "museo-sans", 'Lato', 'Helvetica Neue', Helvetica, 'Apple SD Gothic Neo', 'Nanum Gothic', 'Malgun Gothic', Arial, sans-serif;
}
.typo-number {
  font-family: "bebas-neue", "museo-sans", 'Lato', 'Helvetica Neue', Helvetica, 'Apple SD Gothic Neo', 'Nanum Gothic', 'Malgun Gothic', Arial, sans-serif;
}
