@(url: String, musics: Iterable[Music])

@main(Messages("soran.profile.title", url)) {
  <h1>@Messages("soran.profile.welcome", url)</h1>  

  <h2>들었던 노래 목록</h2>
  <ul id="listen">
    @musics.map { music =>
    <li id="@music.affogatoPoint.identifier" data-music="@music.affogatoPoint.data"> | @music.count</li>
    }
  </ul>
  <script type="text/javascript">
    $("#listen li").each(function(i, e) {
      $e = $(e)
      var music = $e.data("music")
      if(music.albumArtist !== void 0 && music.title !== void 0) {
        var splited = $e.attr("id").split("-")
        var serviceName = splited[0]
        var trackNum = splited[1]
        var $a = $("<a></a>");

        if(serviceName == "bugs") {
          var link ="http://music.bugs.co.kr/newPlayer?trackId=" + trackNum
          $a.attr("href", "javascript:void(window.open('"+link+"', 'Bugs Player', 'width=384,height=667,resizable=0'))")
          $a.html(music.albumArtist + " - " + music.title)
        }
        

        $e.prepend($a)
      }
    })
  </script>
}